body {
    background-image: url('/image/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

#logo {
    height: 80px;
    left: 20px;
    position: absolute;
    top: 20px;
}

#name {
    color: white;
    font-family: 'Roboto Slab', Serif;
    font-size: 5vw;
}

#pl {
    color: white;
    font-family: 'Roboto Slab', Serif;
    font-size: 2vw;
}

#footer {
    color: #ddd;
    display: flex;
    flex-direction: row;
    font-family: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 13px;
}

#company {
    flex-grow: 1;
    margin: 20px;
}

#contact {
    margin: 20px;
}

#contact a {
    color: #ddd;
}
