<!-- Navbar -->
<div class="w3-bar w3-light-sand" id="navbar">
    <div><img src="{{ site.url }}/assets/image/logo.png" class="logo" /></div>
    <ul id="menu">
        <li class="menu-entry"><a href="{{ site.url }}">Home</a></li>
        <li class="menu-entry"><a href="{{ site.url }}/demo.html">Demo</a></li>
        <li class="menu-entry"><a href="{{ site.url }}/blog.html">Blog</a></li>
    </ul>
    <ul id="social-icons">
        <li><a class="discord" href="http://discord.gg/8hWJ6eaTkf" target="_blank"></a></li>
        <li><a class="youtube" href="https://www.youtube.com/@NuvaLab" target="_blank"></a></li>
        <li><a class="twitter" href="https://www.twitter.com/nuvalab" target="_blank"></a></li>
        <li><a class="email" href="mailto:info@nuvalab.ai"></a></li>
    </ul>
</div>
