<!-- Navbar -->
<div class="w3-bar w3-light-sand" id="navbar">
    <a href="javascript:void(0);" id="nav-menu" onclick="toggleNavMenu()">
        <i class="fa fa-bars"></i>
    </a>
    <div><img src="{{ site.url }}/assets/image/logo.png" class="logo" /></div>
    <ul id="menu">
        <li class="menu-entry"><a href="{{ site.url }}">Home</a></li>
        <li class="menu-entry"><a href="{{ site.url }}/blog.html">Blog</a></li>
    </ul>
    <ul id="social-icons">
        <li><a class="email" href="mailto:info@nuvalab.ai"></a></li>
    </ul>
</div>

<div id="mobile-nav-menu">
    <ul id="mobile-menu">
        <li class="menu-entry"><a href="{{ site.url }}">Home</a></li>
        <li class="menu-entry"><a href="{{ site.url }}/blog.html">Blog</a></li>
    </ul>
</div>