body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oneset", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bg {
    height: calc(100% - 60px - 40px) !important;
}

#home {
    flex-direction: column;
    text-align: center;
}

.punchline {
    margin: auto;
    padding-bottom: 80px;
}

.title {
    font-size: 5vw;
    font-family: lato, -apple-system, "system-ui", "segoe ui", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.what-if {
    color: rgb(190, 52, 85);
}

.subtitle {
    font-size: 2vw;
    font-family: lato, -apple-system, "system-ui", "segoe ui", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.signup-text {
    font-size: 1.5vw;
}

.logo {
    height: 50px;
    margin: 0 0 0 2vw;
}

.signup {
    text-align: center;
    padding-bottom: 30px;
    z-index: 10;
    /* This value might need to be higher depending on other elements' z-index values */
}

#email {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 300px;
}

#waitlist-form-status {
    font-weight: bold;
}

.video-container {
    text-align: center;
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

#navbar {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
}

#social-icons, #menu {
    /* Adjust this value as needed for vertical alignment */
    list-style: none;
    margin: 0;
    padding: 0;
}

#social-icons li, #menu li {
    display: inline-block;
}

#menu {
    flex-grow: 1;
    margin-left: 30px;
}

#menu li {
    margin-right: 10px;
}

#menu a {
    color: #555;
    font-size: 18px;
    text-decoration: none;
}

#social-icons {
    margin-right: 30px;
}

#social-icons a {
    background-image: url(/assets/image/icons.png);
    background-repeat: no-repeat;
    background-size: auto 38px;
    display: block;
    height: 38px;
    width: 38px;
}

#social-icons .youtube {
    background-position: -38px 0;
}

#social-icons .discord {
    background-position: -114px 0;
}

#social-icons .twitter {
    background-position: 0 0;
}

#social-icons .email {
    background-position: -76px 0;
}

.w3-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    /* This centers the text inside the div */
}

footer {
    height: 40px;
    padding: 10px 0;
}

a.privacy-policy {
    margin-left: 30px;
    text-decoration: none;
}

a.privacy-policy:hover {
    text-decoration: underline;
}

#prototype {
    margin-bottom: 50px;
    text-align: center;
}

#prototype img {
    width: 80%;
    max-width: 600px;
}

#posts {
    margin-top: 20px; 
}

.post {
    max-width: 70%;
    margin: auto;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #eee;
}

.post .title {
    color: hsl();
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.4s ease;
}

.post a {
    text-decoration: none;
}

.post .info {
    display: flex;
    flex-flow: row;
}

.post .author {
    font-weight: 400;
    opacity: .5;
}

.post .date {
    display: block;
    font-size: 13px;
    color: #999;
}

.post .date::before {
    content: "\2022";
    padding: 0 0.5em;
}
