---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<title>{{page.title}}</title>

<body>
    {% include navigation.html %}

    <div id="posts">
        <div class="post">
            <div class="title">{{page.title}}</div>
            <div class="info">
                <div class="author">By {{page.author}}</div>
                <div class="date">
                    <i class="fa fa-calendar"></i>
                    {{page.date | date: "%-d %B %Y"}}
                </div>
            </div>
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
</body>

</html>